<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
  <title>Sudoku</title>
   <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0,
                                   maximum-scale=1.0,
                                   user-scalable=no">
  <meta name="description" content="A Sudoku game">
  <meta name="keywords" content="sudoku,game,kik,html5">
  <link rel="kik-icon" href="/images/logo.png">
  <link rel="canonical" href="http://sudoku-html5.herokuapp.com/">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/default.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Revalia" rel="stylesheet" type="text/css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="//cdn.kik.com/kik/1.0.0/kik.js"></script>
  <script src="/javascripts/app.min.js"></script>

  <!-- template for form for creating a new game -->
  <script id="new-game-form-template" type="text/x-handlebars-template">
    <div class="app-section" id="new-game">
      <input type="text" placeholder="Please enter a name!"><i id="create" class="fa fa-check-circle"></i>
    </div>
  </script>

  <!-- template for a game state -->
  <script id="game-state-template" type="text/x-handlebars-template">
      <div class="app-section">
        <header id="game-header">
          <div>
            <a id="quit"><i class="fa fa-trash-o fa-2x"></i></a>
            <a class="kik-it" id="invite">&nbsp;</a>
          </div>
        </header>
        {{#squaretable 3 "boxes"}}
          {{#squaretable 3 "box"}}
            <input type="number" maxlength="1" pattern=\"[0-9]*">
          {{/squaretable}}
        {{/squaretable}}
      <div id="others-game-states"></div>
      </div>
  </script>

  <!-- template for listing all available games with status -->
  <script id="game-select-template" type="text/x-handlebars-template">
    <div class="app-section" id="new-game-option  ">
      <ul class="app-list">
        <li>
          <a href="/#new"><i class="fa fa-plus-circle"></i> New game</a>
        </li>
      </ul>
    </div>
    <div class="app-section" id="games">
      <h1>Your games</h1>
      {{#if gameStates}}
        <ul class="app-list">
        {{#each gameStates}}
          <li>
            <a class="{{stateName}}" href="/#game/{{id}}"><i class="fa fa-asterisk"></i> {{game.name}}</a>
          </li>
        {{/each}}
        </ul>
      {{else}}
        <i class="empty-list">Currently no games, click "New Game"!</i></i>
      {{/if}}
    </div>
    <div class="app-section" id="invitations"></div>
  </script>

  <!-- template for single invititation -->
  <script id="invitation-template" type="text/x-handlebars-template">
    <div><i class="fa fa-question-circle"></i>
      <strong>{{invitation.game.name}}</strong> by {{invitation.inviter.username}}
      <a class="app-button left accept"><i class="fa fa-check-circle"></i></a>
      <a class="app-button left reject"><i class="fa fa-times-circle"></i></a>
    <br>
    </div>
  </script>

</head>
<body>
  <div class="app-page"  data-page="home">
    <div class="app-topbar">
      <div class="app-title">SUDOKU</div>
    </div>
    <div class="app-content" id="home">
      <div id="board"></div>
    </div>
  </div>
    <div class="app-page"  data-page="game">
    <div class="app-topbar">
      <div class="left app-button back-home"><a href="#"><i class="fa fa-chevron-left"> </i></a></div>
      <div class="app-title"></div>
      <div class="right app-button"><a href="#"></a></div>
    </div>
    <div class="app-content" id="game">
      <div id="board"></div>
    </div>
  </div>
    <div class="app-page"  data-page="new-game">
    <div class="app-topbar">
      <div class="left app-button back-home"><a href="#"><i class="fa fa-chevron-left"> </i></a></div>
      <div class="app-title">New Game</div>
    </div>
    <div class="app-content" id="new-game">
      <div id="board"></div>
      </div>
    </div>
  </div>
  <!--footer>
    <span>Created with &hearts; in Germany.</span>
  </footer-->
  <script src="http://zeptojs.com/zepto.min.js"></script>
  <script src="http://cdn.kik.com/app/1/app.js"></script>
  <script src="/javascripts/main.min.js"> </script>
</body>
</html>