<!DOCTYPE html>
<html manifest="/cache.manifest">
<head>
  <title>Sudoku</title>
  <meta name="description" content="A short description of this webpage">
  <link rel="kik-icon" href="/images/logo.png">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="//fonts.googleapis.com/css?family=Revalia" rel="stylesheet" type="text/css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="//cdn.kik.com/kik/1.0.0/kik.js"></script>
  <script src="/javascripts/handlebars.js"></script>
  <script src="/javascripts/helpers/handlebars-helpers.js"></script>
  <script src="/javascripts/models/user.js"></script>
  <script src="/javascripts/models/game.js"></script>
  <script src="/javascripts/models/invitation.js"></script>
  <script src="/javascripts/models/game-state.js"></script>
  <script src="/javascripts/views/user.js"></script>
  <script src="/javascripts/views/game-state.js"></script>
  <script src="/javascripts/views/new-game.js"></script>
  <script src="/javascripts/views/invitations.js"></script>
  <script src="/javascripts/views/game-select.js"></script>

  <!-- template for form for creating a new game -->
  <script id="new-game-form-template" type="text/x-handlebars-template">
      <h1>Ok, new game!<br>Give it a name:</h1>
      <form>
        <p>
          <input type="text" required="required">
        </p>
        <p>
          <input type="submit" value="Start!">
        </p>
      </form>
  </script>

  <!-- template for a game state -->
  <script id="game-state-template" type="text/x-handlebars-template">
      <header id="game-header">
        <h1>{{gameState.game.name}} (<span id="state-name"></span>)</h1>
        <div>
          <a id="quit">Quit</a>
          <a id="invite">Invite</a>
        </div>
      </header>
      {{#squaretable 3 "boxes"}}
        {{#squaretable 3 "box"}}
          <input type="number" maxlength="1" pattern=\"[0-9]*">
        {{/squaretable}}
      {{/squaretable}}
      <div id="others-game-states"></div>
  </script>

  <!-- template for listing all available games with status -->
  <script id="game-select-template" type="text/x-handlebars-template">
    <h1>Select a game:</h1>
    <ul id="games">
    {{#each gameStates}}
      <li>
        <a class="{{stateName}}" href="/#game/{{id}}">{{game.name}}</a>
      </li>
    {{/each}}
  </script>

  <!-- template user information -->
  <script id="user-template" type="text/x-handlebars-template">
    <span>{{fullName}}</span>
    <img src="{{thumbnail}}">
  </script>

  <!-- template for single invititation -->
  <script id="invitation-template" type="text/x-handlebars-template">
    <strong>{{invitation.game.name}}</strong> by ({{invitation.inviter.username}})
    <br>
    <a class="accept">Accept</a> - <a class="reject">Reject</a>
  </script>

</head>
<body>
  <header id="page-header">
    <h1>SUDOKU</h1>
    <div id="user"></div>
  </header>
  <div id="content">
    <nav>
      <ul>
        <li><a class="button" href="#all">All</a></li>
        <li><a class="button" href="#new">New</a></li>
        <li><a class="button" href="#invitations">Invitations</a></li>
      </ul>
    </nav>
  </div>
  <footer>
    <span>Created with &hearts; in Germany.</span>
  </footer>

  <script src="/javascripts/main.js"> </script>
</body>
</html>