@import url(//fonts.googleapis.com/css?family=Revalia);

body,html {
  background:url(/images/wood.png);
  font-family:Verdana;
  margin:0;
  padding:0;
}

a {
  color:#55a;
  text-decoration:none;
}

#page-header {
  background-color:#222;
  box-shadow:0 0 4px #000;
  color:#FFF;
  font-family:Revalia;
  height:36px;
  text-shadow:0 -1px 0 #374683;
}

#page-header > h1 {
  color:#fff;
  float:left;
  font-size:28px;
  height:36px;
  margin:0 20px;
}

footer {
  font-size:12px;
  color:#FFF;
  font-family:Helvetica, Arial;
  text-shadow:0 0 4px #A61000;
  text-align:center;
  margin-top:8px;
}

#content {
  width:610px;
  margin:0 auto;
}

nav {
  width:100%;
  height:30px;
  margin:15px auto 0;
}

nav ul {
  margin-bottom:10px;
  padding:0;
}

nav li {
  float:left;
  display:block;
}

.button {
  background-color:#FFF;
  border-radius:2px;
  box-shadow:0 0 5px #ccc;
  margin-right:5px;
  padding:3px 5px;
}

.boxes {
  clear:both;
  margin-left:auto;
  margin-right:auto;
  border-spacing:1px;
}

.boxes,.boxes table {
  background-color:#000;
  border-spacing:0;
  table-layout:fixed;
}

.boxes tr,.boxes td {
  padding:0;
}

input[disabled] {
  background-color:#ddd;
  box-shadow:inset 0 0 10px #bbb;
}

input.conflict {
  background-color:red;
}

input {
  font-family:Verdana;
  font-size:30px;
  text-align:center;
  width:90%;
  margin:0;
}

input[type=submit] {
  background-color:#222;
  color:#fff;
  border:none;
  border-radius:2px;
  box-shadow:0 0 3px #000;
  font-size:22px;
  height:30px;
  width:100px;
}

input.unsolved:hover,input.unsolved:focus {
  box-shadow:inset 0 0 10px #bbe;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance:none;
  margin:0;
}

.boxes.solved {
  box-shadow:0 0 6px green;
}

.boxes.conflicts {
  box-shadow:0 0 6px #BF4630;
}

.boxes.progress {
  box-shadow:0 0 6px #000;
}

.boxes input {
  border:solid 1px;
  width:62px;
  height:62px;
}

#user {
  float:right;
  height:100%;
}

#user span {
  font-size:12px;
  float:left;
  margin-right:4px;
  margin-top:8px;
}

#user img {
  height:100%;
  width:auto;
}

#games .solved {
  color:#679B00;
  text-decoration:line-through;
}

#games .quit {
  color:#BF4630;
  text-decoration:line-through;
}

#games .in_progress {
  color:#aaa;
  text-decoration:none;
}

#board {
  background-color:#fff;
  border-radius:2px;
  box-shadow:0 0 5px rgba(0,0,0,0.2), inset 0 0 50px rgba(0,0,0,0.2);
  color:#333;
  height:674px;
  width:100%;
  overflow:auto;
  padding:3px 8px;
}

#game-header {
  margin-top:5px;
  padding-left:3px;
}

#game-header div {
  margin:10px 0;
}

article h1 {
  font-size:18px;
  margin:7px 0 3px;
}

#game-header a {
  border-radius:2px;
  box-shadow:0 0 5px #000;
  margin-right:5px;
  padding:3px;
}

#others-game-states {
  margin-top:10px;
}

@media all and max-width 700px and min-width 481px,all and max-height 790px and min-height 561px {
  #content {
    width:400px;
  }
  
  #board {
    height:480px;
  }
  
  #nav {
    width:425px;
  }
  
  .boxes input {
    width:40px;
    height:38px;
    font-size:23px;
  }
}

@media all and max-width 480px and min-width 321px,all and max-height 560px and min-height 411px {
  #content {
    width:260px;
  }
  
  #board {
    height:355px;
  }
  
  #nav {
    width:285px;
  }
  
  .boxes input {
    width:24px;
    height:24px;
    font-size:18px;
  }
}

@media all and max-width 320px,all and max-height 410px {
  #content {
    width:180px;
  }
  
  #board {
    height:260px;
  }
  
  nav {
    width:205px;
    font-size:15px;
  }
  
  .boxes input {
    width:15px;
    height:15px;
    font-size:12px;
  }
  
  article h1 {
    font-size:12px;
  }
  
  .game-header {
    font-size:13px;
  }
  
  #user span {
    display:none;
  }
}